body {
  background-color: #eeeeee;
  margin: 0;
  text-align: center;
}

hr{
  border: 0;
  border-top: 6px;
  border-style: dashed;
  color: #b9ceeb;
  margin: 5px auto;
  width: 7%;
}

.top {
  background-color: #c8e6f5;
  height: 100vh;
  position: relative;
}

.icon {
  border-radius: 100%;
  height: 100px;
  left: 120px;
  position: absolute;
  top: 60px;
  width: 100px;
}

.nav-bar {
  position: absolute;
  right: 60px;
  top: 60px;
}

.text {
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

.h {
  color: #1f3c88;
  font-family:  'PT Sans', sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.p {
  color: #1f3c88;
  font-family:  'PT Sans Narrow', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.nav-bar-text {
  color: #293462;
  font-size: 18px;
  font-weight: normal;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.3em;
}

.nav-bar-text:hover {
  color: black;
  font-weight: bold;
}

.name-disp {
  bottom: 0;
  height: 400px;
  position: relative;
  top: 200px;
  width: 100%;
}

.cloud {
  height: 90px;
  position: absolute;
  width: 130px;
}

.c1 {
  height: 160px;
  right: 10%;
  top: 0;
  width: 180px;
}

.c2 {
  left: 15%;
  opacity: 0.8;
  top: 40%;
}

.c3 {
  left: 17%;
  top: 45%;
}

.name {
  color: #293462;
  font-size: 100px;
  font-weight: bolder;
  font-family: 'Satisfy', cursive;
  margin: 5px;
  margin-top: 60px;
}

.intro-line {
  font-size: 25px;
  font-family: 'VT323', monospace;
  font-weight: lighter;
  margin: 5px;
}

.pro {
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 2px;
}

.mid {
  height: auto;
  width: 100%;
}

.intro {
  align-items: center;
  align-content: center;
  height: auto;
  position: relative;
}

.bg-img {
  height: 420px;
  transition: filter 1s, transform 1s;
  transition-timing-function: ease-out;
  transform-style: preserve-3d;
  width: 100%;
}

.bg-img:hover {
  filter: blur(7px);
}

.dp {
  box-shadow: 2px 2px 20px 5px black;
  border-radius: 100%;
  height: 100px;
  left: calc(50vw - 50px);
  opacity: 0.5;
  position: absolute;
  top: 40px;
  width: 100px;
}

.hello {
  font: 35px 'PT Sans', sans-serif;
  color: #64b2cd;
  left: calc(50vw - 73.8px);
  position: absolute;
  top: 180px;
  width: auto;
}

.para {
  font: 25px 'PT Sans Narrow', sans-serif;
  color: #64b2cd;
  left: calc(50vw - 197.5px);
  position: absolute;
  top: 250px;
  width: auto;
}

.heading2{
  font-size: 50px;
  font-weight: bolder;
}

.footer{
  background-color: #c8e6f5;
  height: auto;
  position: relative;
}

.foot{
  font-size: 20px;
  font-weight: bolder;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #293462;
  margin: 10px 10px 0;
  padding-left: 0;
  margin-right: 70px;
}

.reserv{
  font-size: 16px;
  font-family: monospace;
  margin: 10px;
  margin-bottom: 2px;
  clear: both;
}

.icon1{
  float: left;
  height: 25px;
  width: 25px;
  margin: 3px;
  margin-left: 70px;
  margin-top: 20px;
}

.wrap{
  display: inline-block;
}
